.footer {
  position: relative;
  padding: 0 $xxl-size;
  margin-top: $xl-size;
  background: $off-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(230, 195, 195, 0.945);

  @include mobile {
    padding: 0;
    padding-top: 2.5rem;
    flex-direction: column;
    text-align: center;
  }

  a {
    text-decoration: underline;
  }
}




.footer-col-2 {
  padding: 3rem 0;
  text-align: center;
  flex-basis: 20%;
  margin-left: 40%;

  @include mobile {
    flex-basis: none;
    order: 3;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.footer-col-3 {
  flex-basis: 40%;
  text-align: right;

  @include mobile {
    flex-basis: none;
    order: 2;
    text-align: center;
  }
}

@include mobile {
  .footer-col-1,
  .footer-col-2,
  .footer-col-3 {
    width: 100%;
    margin: $s-size 0;
  }
}